<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<div class="flex justify-center">
  <h1 class="text-2xl font-bold mb-4 p-6">Sign Up</h1>
</div>
<div class="max-w-md mx-auto bg-white border border-gray-300 shadow-lg rounded-lg p-6 mt-10 flex flex-col justify-center">
  <%= form_with model: @user, url: registrations_path, local: true, html: { class: "flex flex-col justify-center" } do |form| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "text-gray-700 text-sm font-bold m-4 ml-0 w-full p-3" %><br>
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter your password", maxlength: 72, class: "text-gray-700 text-sm font-bold mb-2 ml-0 w-full p-3" %><br>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm your password", maxlength: 72, class: "text-gray-700 text-sm font-bold mb-2 ml-0 w-full p-3" %><br>
    <div class="flex justify-center">
      <%= form.submit "Register", class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full" %>
    </div>
  <% end %>
  <br>
  <div class="flex justify-center">
    <%= link_to "Already have an account? Sign in", new_session_path %>
  </div>
</div>
