<div class="bg-white border border-gray-300 shadow-lg rounded-lg p-6 mt-10">
  <%= form_with model: @product, local: true do |form| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% if authenticated? %>
      <%= form.hidden_field :user_id, value: Session.first.user_id %>
    <% end %>
    <div class="m-4 flex items-center">
      <div class="m-4 md:flex flex-col w-1/2 items-center">
        <%= form.label :name, class: "text-gray-700 text-sm font-bold mb-2 w-1/5" %>
        <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-4/5" %>
      </div>
      <div class="m-4 md:flex flex-col w-1/2 items-center">
        <%= form.label :price, class: "text-gray-700 text-sm font-bold mb-2 w-1/5" %>
        <%= form.number_field :price, step: 0.01, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-4/5" %>
      </div>
    </div>
    <div class="flex items-center gap-4 w-full">
      <div class="md:flex flex-col items-center w-full">
        <%= form.label :description, class: "text-gray-700 text-sm font-bold mb-2" %>
        <%= form.rich_text_area :description, class: "w-full" %>
      </div>
    </div>
    <div class="md:flex flex-col items-center w-full">
      <%= form.label :featured_image, class: "hidden" %>
      <%= form.file_field :featured_image, accept: "image/*" %>
    </div>
    <div class="md:flex flex-col items-center w-full">
      <%= form.label :inventory_count, class: "font-bold" %>
      <%= form.number_field :inventory_count, min: 0, class: "border border-grey-500 text-center" %>
    </div>
    <div class="flex items-center justify-center mt-4">
      <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>